NET "A" LOC = J15 | IOSTANDARD = LVCMOS33;
NET "B" LOC = L16 | IOSTANDARD = LVCMOS33;
NET "C" LOC = M13 | IOSTANDARD = LVCMOS33;
NET "D" LOC = R15 | IOSTANDARD = LVCMOS33;
NET "E" LOC = R17 | IOSTANDARD = LVCMOS33;
NET "F" LOC = T18 | IOSTANDARD = LVCMOS33;
NET "G" LOC = U18 | IOSTANDARD = LVCMOS33;
NET "H" LOC = R13 | IOSTANDARD = LVCMOS33;
NET "I" LOC = T8 | IOSTANDARD = LVCMOS33;
NET "J" LOC = U8 | IOSTANDARD = LVCMOS33;
NET "Q" LOC = H17 | IOSTANDARD = LVCMOS33;
NET "R" LOC = K15 | IOSTANDARD = LVCMOS33;
NET "S" LOC = J13 | IOSTANDARD = LVCMOS33;
NET "T" LOC = N14 | IOSTANDARD = LVCMOS33;
NET "U" LOC = R18 | IOSTANDARD = LVCMOS33;
NET "V" LOC = V17 | IOSTANDARD = LVCMOS33;
NET "W" LOC = U17 | IOSTANDARD = LVCMOS33;
NET "X" LOC = U16 | IOSTANDARD = LVCMOS33;
NET "Y" LOC = V16 | IOSTANDARD = LVCMOS33;
NET "Z" LOC = T15 | IOSTANDARD = LVCMOS33;