NET "X(0)" LOC = J15 | IOSTANDARD = LVCMOS33;
NET "X(1)" LOC = L16 | IOSTANDARD = LVCMOS33;
NET "X(2)" LOC = M13 | IOSTANDARD = LVCMOS33;
NET "X(3)" LOC = R15 | IOSTANDARD = LVCMOS33;
NET "Y(0)" LOC = R17 | IOSTANDARD = LVCMOS33;
NET "Y(1)" LOC = T18 | IOSTANDARD = LVCMOS33;
NET "Y(2)" LOC = U18 | IOSTANDARD = LVCMOS33;
NET "Y(3)" LOC = R13 | IOSTANDARD = LVCMOS33;
NET "Cin" LOC = T8 | IOSTANDARD = LVCMOS33;

NET "Sum(0)" LOC = H17 | IOSTANDARD = LVCMOS33;
NET "Sum(1)" LOC = K15 | IOSTANDARD = LVCMOS33;
NET "Sum(2)" LOC = J13 | IOSTANDARD = LVCMOS33;
NET "Sum(3)" LOC = N14 | IOSTANDARD = LVCMOS33;
NET "Cout" LOC = R18 | IOSTANDARD = LVCMOS33;
NET "Overflow" LOC = V17 | IOSTANDARD = LVCMOS33;